html{
background-color:rgb(55, 30, 77);
color:aliceblue
}


header {
  background-color: rgb(15, 0, 27);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 40px;
  text-align: center;
  z-index: 1000;
}
footer{
  background-color: rgb(15, 0, 27);
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

h1 {
 font-size: 60px;
 text-align: center;
 font-weight: bold;
}
h2 {
 font-size: 40px;
 text-align: center;
 font-weight: bold;
}

body{
  color:rgb(255, 255, 255);
text-align: center;
}
h3 {
 font-size: 22px;
 font-weight: bold;
}
.corpo a {
  color:rgb(255, 0, 0);
  font-weight: bold;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
  font-size: 40px;
  text-align: center;
}

header li {
  display: inline;
  font-size: 25px;
}

header a {
  color: rgb(200, 229, 255);
  text-decoration: none;
  font-weight: bold;
}

body {
  padding-top: 60px;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
.logo_foto{
height: 60px;
width: auto;
  vertical-align: middle;
}
